@model X.PagedList.IPagedList<AWork.Contracts.Dto.Production.ProductDto>
@using X.PagedList.Mvc.Core


<link href="~/css/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Index";
}
@*Batas*@
@using (Html.BeginForm("Index", "ProductsSercvice", FormMethod.Get))
{
    <div class="container p-3 my-3">
       dkdkd
    </div>
}
@*Batas*@
<script>
    function getPagedSize(value) {
        document.location.href ="/ProductsSercvice?&PageSize="+ value + "&CurrentFilter=@ViewBag.CurrentFilter&sortOrder=@ViewBag.CurrentSort";
    }
</script>